<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Hatimeria CMF{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('bundles/hatimeriaextjs/js/vendor/ext-4.0.0/resources/css/ext-all.css') }}" type="text/css" media="all" />
        {% render "HatimeriaExtJSBundle:Default:headers" %}
        {% block head %}{% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    
    <body>
        <h1>Hatimeria CMF</h1>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <p>{% trans %} Signed in as {% endtrans %} <b>{{ app.user.username }}</b></p>
        {% else %}
            <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
        {% endif %}
        <div id="body"></div>
        {% block body %}{% endblock %}
        {% block fos_user_content %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
